In [1]:
import pandas as pd
import numpy as np

In [ ]:
import lightgbm as lgb

X_train_part, X_val, y_train_part, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=100)
train_dataset = lgb.Dataset(data=X_train_part,label=y_train_part)
val_dataset = lgb.Dataset(data=X_val,label=y_val)

param = {'num_leaves':40, 'num_trees':1600, 'objective':'binary','metric': ['auc', 'binary_logloss'],'is_unbalance':True}
num_round = 30
bst = lgb.train(param, train_dataset, num_round, valid_sets=[val_dataset])

predict = bst.predict(X_test, num_iteration=bst.best_iteration)
# accuracy = accuracy_score(y_test, predict)
# f1_score_macro = f1_score(y_test, predict, average='macro')
# f1_score_weighted = f1_score(y_test, predict, average='weighted')
auc = roc_auc_score(y_test, predict)

In [3]:
# Test TP

predict = pd.read_csv("./result/lgb_v1.csv")
predict['0']

0        3.242980e-05
1        9.588500e-07
2        9.612429e-08
3        1.546975e-10
4        5.672434e-07
             ...
24495    2.264459e-06
24496    2.144117e-07
24497    4.493964e-08
24498    4.025104e-05
24499    1.446961e-06
Name: 0, Length: 24500, dtype: float64

In [4]:
proba = predict['0'].tolist()

In [13]:
proba2label = []
# index1 = []
count0 = 0
count1 = 0
for i in range(len(proba)):
    if proba[i] < 0.5:
        proba2label.append(0)
        count0 += 1
    else:
        proba2label.append(1)
        count1 += 1
        print(i)
count1

11878
15653
15750

3

In [8]:
y_test = pd.read_csv("./data/cleaned/y_test.csv")
y_test

       Unnamed: 0  DEFAULT_LABEL
0               0              0
1               1              0
2               2              0
3               3              0
4               4              0
...           ...            ...
24495       24495              0
24496       24496              0
24497       24497              0
24498       24498              0
24499       24499              0

[24500 rows x 2 columns]

In [9]:
truelabel = y_test['DEFAULT_LABEL'].tolist()

In [16]:
index1 = []
for i in range(len(truelabel)):
    if truelabel[i] == 1:
        index1.append(i)

In [21]:
tmp = [11878, 15653, 15750]

In [22]:
list(set(index1).intersection(set(tmp)))

[]