In [2]:
import pandas as pd
import numpy as np

In [4]:
data = {'age':[6,7,8,11,12,13,23,24,25,37,38,39,44,45,46,51,61,71],
        'label':[0,1,0,0,0,1,0,1,1,0,1,1,0,0,1,0,0,1]}
df = pd.DataFrame(data)

# 给年龄做分箱
bins = [0, 10, 20, 30, 40, 50, 100]
df['age_cate'] = pd.cut(df.age, bins, labels=[u"婴儿",u"少年",u"青年",u"中年",u"壮年",u"老年"])

df

    age  label age_cate
0     6      0       婴儿
1     7      1       婴儿
2     8      0       婴儿
3    11      0       少年
4    12      0       少年
5    13      1       少年
6    23      0       青年
7    24      1       青年
8    25      1       青年
9    37      0       中年
10   38      1       中年
11   39      1       中年
12   44      0       壮年
13   45      0       壮年
14   46      1       壮年
15   51      0       老年
16   61      0       老年
17   71      1       老年

In [ ]:
df['label_0'] = df['label'].map(lambda x: 1 if x == 0 else 0)
df['label_1'] = df['label'].map(lambda x: 1 if x == 1 else 0)

# 统计各个箱中好坏比率
woe_iv_df_1 = df.groupby('age_cate')['label_0'].agg({'cnt_0':'sum'}).reset_index()
woe_iv_df_2 = df.groupby('age_cate')['label_1'].agg({'cnt_1':'sum'}).reset_index()
woe_iv_df = pd.merge(woe_iv_df_1, woe_iv_df_2, how = 'left', on = 'age_cate')
woe_iv_df['cnt'] = woe_iv_df['cnt_0'] + woe_iv_df['cnt_1']

woe_iv_df['ratio_0'] = woe_iv_df['cnt_0']/woe_iv_df['cnt_0'].sum()
woe_iv_df['ratio_1'] = woe_iv_df['cnt_1']/woe_iv_df['cnt_1'].sum()

# 计算各个箱的woe值
woe_iv_df['woe'] = np.log(woe_iv_df['ratio_0']/woe_iv_df['ratio_1'])

# 由于是测试数据，就直接求iv值
woe_iv_df['iv'] = (woe_iv_df['ratio_0'] - woe_iv_df['ratio_1']) * woe_iv_df['woe']

iv = woe_iv_df['iv'].sum()

In [3]:
train_f = pd.read_csv("./data/train/feature.csv")
train_l = pd.read_csv("./data/train/label.csv")
train = pd.merge(train_f, train_l)
train

,APPLICATION_ID,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,v992,v993,v994,v995,v996,v997,v998,v999,APPLICATION_DATE,DEFAULT_LABEL
0,44c4e0d49d5bf94efa446e03ecf84ba5,NaN,NaN,NaN,5.528423,NaN,NaN,10.0,0.0,0.016305,...,NaN,NaN,NaN,NaN,41.0,0.0,NaN,0.0,2021-09-14,0
1,993ee0eed4ad96f4f5d6dc30d56bdf94,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,NaN,...,NaN,NaN,NaN,NaN,8.0,0.0,NaN,0.0,2021-07-06,0
2,a9815449c0a385ee0d53305b8cca95c6,NaN,NaN,NaN,5.062508,0.000000,NaN,7.0,0.0,1.039721,...,NaN,NaN,NaN,NaN,22.0,0.0,NaN,0.0,2021-06-10,0
3,4f9dd0d609cee4360e110d56cc35afd9,0.0,NaN,NaN,2.575101,0.444610,NaN,NaN,NaN,0.980110,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-07-04,0
4,904de5e19a5ea36e8f4b9f4cf5bdd953,0.0,NaN,0.000473,5.528423,0.000000,NaN,1.0,0.0,0.950612,...,NaN,0.079084,0.415888,NaN,76.0,0.0,3.894232,0.0,2021-06-23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73495,f40ba3404c98f365ca94a5494db00543,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-08-09,0
73496,9a3ed4e399d51c56568499f8f804abbf,0.0,NaN,NaN,NaN,NaN,NaN,3.0,0.0,NaN,...,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,2021-06-26,0
73497,4b64b9f949949fd609008c58c19a86f4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-05-23,0
73498,8dbdd0a1dc4df6983cb58e940a449fa9,NaN,NaN,0.000931,4.564210,0.288722,NaN,1.0,0.0,0.303087,...,NaN,0.087199,0.415888,0.032204,25.0,0.0,NaN,0.0,2021-05-21,0
73499,99cd5a6b8bb31064f68de4bc0ec19e14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,0

In [5]:
train['APPLICATION_DATE'].sort_values()

50876    2021-05-20
59405    2021-05-20
46231    2021-05-20
3462     2021-05-20
38652    2021-05-20
            ...
66313    2021-09-18
31959    2021-09-18
50924    2021-09-18
14985    2021-09-18
69881    2021-09-18
Name: APPLICATION_DATE, Length: 73500, dtype: object

In [10]:
# bins = [0, 10, 20, 30, 40, 50, 100]
bins = ['2021-05-20', '2021-05-30', '2021-06-09', '2021-06-19', '2021-06-29', '2021-07-09', '2021-07-19', '2021-07-29', '2021-08-08', 
        '2021-08-18', '2021-08-28', '2021-09-07']
train['time_cate'] = 0
for i in range(len(train)):
    for j in range(len(bins)):
        if train['APPLICATION_DATE'][i] < bins[j]:
            train['time_cate'][i] = j
            break
        else:
            continue

# train['time_cate'] = pd.cut(train.APPLICATION_DATE, bins, labels=["0","1","2","3","4","5"])
train

/home/ubuntu/anaconda3/envs/cd80test/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,APPLICATION_ID,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,v993,v994,v995,v996,v997,v998,v999,APPLICATION_DATE,DEFAULT_LABEL,time_cate
0,44c4e0d49d5bf94efa446e03ecf84ba5,NaN,NaN,NaN,5.528423,NaN,NaN,10.0,0.0,0.016305,...,NaN,NaN,NaN,41.0,0.0,NaN,0.0,2021-09-14,0,12
1,993ee0eed4ad96f4f5d6dc30d56bdf94,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,NaN,...,NaN,NaN,NaN,8.0,0.0,NaN,0.0,2021-07-06,0,5
2,a9815449c0a385ee0d53305b8cca95c6,NaN,NaN,NaN,5.062508,0.000000,NaN,7.0,0.0,1.039721,...,NaN,NaN,NaN,22.0,0.0,NaN,0.0,2021-06-10,0,3
3,4f9dd0d609cee4360e110d56cc35afd9,0.0,NaN,NaN,2.575101,0.444610,NaN,NaN,NaN,0.980110,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-07-04,0,5
4,904de5e19a5ea36e8f4b9f4cf5bdd953,0.0,NaN,0.000473,5.528423,0.000000,NaN,1.0,0.0,0.950612,...,0.079084,0.415888,NaN,76.0,0.0,3.894232,0.0,2021-06-23,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73495,f40ba3404c98f365ca94a5494db00543,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-08-09,0,8
73496,9a3ed4e399d51c56568499f8f804abbf,0.0,NaN,NaN,NaN,NaN,NaN,3.0,0.0,NaN,...,NaN,NaN,NaN,19.0,NaN,NaN,NaN,2021-06-26,0,4
73497,4b64b9f949949fd609008c58c19a86f4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-05-23,0,1
73498,8dbdd0a1dc4df6983cb58e940a449fa9,NaN,NaN,0.000931,4.564210,0.288722,NaN,1.0,0.0,0.303087,...,0.087199,0.415888,0.032204,25.0,0.0,NaN,0.0,2021-05-21,0,1
73499,99cd5a6b8bb31064f68de4bc0ec19e14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-29,0,4

In [4]:
shell = []
shell.append(train[train['APPLICATION_DATE'] < '2021-05-30'])
shell.append(train[train['APPLICATION_DATE'] < '2021-06-09'])
shell.append(train[train['APPLICATION_DATE'] < '2021-06-19'])
shell.append(train[train['APPLICATION_DATE'] < '2021-06-29'])
shell.append(train[train['APPLICATION_DATE'] < '2021-07-09'])
shell.append(train[train['APPLICATION_DATE'] < '2021-07-19'])
shell.append(train[train['APPLICATION_DATE'] < '2021-07-29'])
shell.append(train[train['APPLICATION_DATE'] < '2021-08-08'])
shell.append(train[train['APPLICATION_DATE'] < '2021-08-18'])
shell.append(train[train['APPLICATION_DATE'] < '2021-08-28'])
shell.append(train[train['APPLICATION_DATE'] < '2021-09-07'])
shell[0]

,APPLICATION_ID,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,v992,v993,v994,v995,v996,v997,v998,v999,APPLICATION_DATE,DEFAULT_LABEL
18,4951886c3c4d01e5449de4ab6ab008ff,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-26,1
29,3ad35133cbe1449438085bfc1dd6c595,NaN,0.0,NaN,4.871236,NaN,NaN,NaN,NaN,1.039721,...,0.003329,NaN,NaN,0.003063,NaN,0.0,NaN,0.0,2021-05-23,0
30,c0494b8edd0fedd0c05919fd63ad0344,NaN,NaN,NaN,4.103919,NaN,NaN,NaN,NaN,0.907485,...,NaN,NaN,NaN,0.101454,NaN,0.0,NaN,0.0,2021-05-28,0
35,4dffc493a3aed496a6399ea955946898,NaN,NaN,0.000261,5.459596,0.626893,NaN,0.0,0.0,0.595092,...,NaN,0.057633,0.415888,NaN,164.0,0.0,NaN,0.0,2021-05-22,0
46,104b0443986bf00a4ef8bd3b94fbf4a9,NaN,NaN,NaN,5.511492,0.000000,0.0,NaN,NaN,0.978377,...,NaN,NaN,NaN,0.020357,NaN,NaN,NaN,NaN,2021-05-24,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73492,bda4ca19a4b8106efdc143394984fcef,0.0,0.0,NaN,5.084886,0.000000,NaN,0.0,0.0,0.801331,...,0.002171,NaN,NaN,0.009751,92.0,1.0,3.796881,0.0,2021-05-28,0
73493,e1390a45e96fbd4d09f8080ce9c0f118,NaN,NaN,NaN,5.350462,0.552951,NaN,14.0,0.0,0.837855,...,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,2021-05-29,0
73494,d99f4a4b444da41844330481aa9a8e9c,0.0,0.0,0.007530,5.039813,0.545522,NaN,11.0,0.0,0.977398,...,0.030066,0.170142,0.659167,0.093700,47.0,1.0,NaN,0.0,2021-05-25,0
73497,4b64b9f949949fd609008c58c19a86f4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,2021-05-23,0
73498,8dbdd0a1dc4df6983cb58e940a449fa9,NaN,NaN,0.000931,4.564210,0.288722,NaN,1.0,0.0,0.303087,...,NaN,0.087199,0.415888,0.032204,25.0,0.0,NaN,0.0,2021-05-21,0

In [5]:
for i in range(len(shell)):
    shell[i].to_csv('group' + str(i) + ".csv")

In [26]:
[len(shell[i]) for i in range(len(shell))]

[6701, 14842, 21810, 30163, 39089, 44438, 49720, 54169, 59237, 62916, 68471]

In [13]:
train['label_0'] = train['DEFAULT_LABEL'].map(lambda x: 1 if x == 0 else 0)
train['label_1'] = train['DEFAULT_LABEL'].map(lambda x: 1 if x == 1 else 0)

df = train.copy(deep=True)

# 统计各个箱中好坏比率
woe_iv_df_1 = df.groupby('time_cate')['label_0'].agg({'cnt_0':'sum'}).reset_index()
woe_iv_df_2 = df.groupby('time_cate')['label_1'].agg({'cnt_1':'sum'}).reset_index()
woe_iv_df = pd.merge(woe_iv_df_1, woe_iv_df_2, how = 'left', on = 'time_cate')
woe_iv_df['cnt'] = woe_iv_df['cnt_0'] + woe_iv_df['cnt_1']

woe_iv_df['ratio_0'] = woe_iv_df['cnt_0']/woe_iv_df['cnt_0'].sum()
woe_iv_df['ratio_1'] = woe_iv_df['cnt_1']/woe_iv_df['cnt_1'].sum()

# 计算各个箱的woe值
woe_iv_df['woe'] = np.log(woe_iv_df['ratio_0']/woe_iv_df['ratio_1'])

# 由于是测试数据，就直接求iv值
woe_iv_df['iv'] = (woe_iv_df['ratio_0'] - woe_iv_df['ratio_1']) * woe_iv_df['woe']

iv = woe_iv_df['iv'].sum()

SpecificationError: nested renamer is not supported

In [ ]:
import numpy as np
import pandas as pd
import math

def compute_woe_iv(path,var_list,Y_flag):
'''
path = 'modeldata.csv'
var_list = ['x1','x2','x3','x4','x5','x6']
Y_flag = 'ifgood'
'''
    train_f = pd.read_csv("./data/train/feature.csv")
    train_l = pd.read_csv("./data/train/label.csv")
    df = pd.merge(train_f, train_l)
    var_num = len(var_list)
    totalG_B = df.groupby([Y_flag])[Y_flag].count()  # 计算正负样本多少个
    G = totalG_B[1]
    B = totalG_B[0]
    woe_all = np.zeros((1, 8))
    var_iv = np.zeros((var_num))
    data_index = []
    for k in range(0, var_num):
        var1 = df.groupby([var_list[k]])[Y_flag].count()  # 计算col每个分组中的组的个数
        var_class = var1.shape[0]
        woe = np.zeros((var_class, 8))
        woe_pre = pd.DataFrame(data={'x1': [], 'ifgood': [],'values' : []})
        total = df.groupby([var_list[k], Y_flag])[Y_flag].count()  # 计算该变量下每个分组响应个数
        total1 = pd.DataFrame({'total': total})
        mu = []
        for u,group in df.groupby([var_list[k], Y_flag])[Y_flag]:
            mu.append(list(u))
        print(mu)
        for lab1 in total.index.levels[0]:
            for lab2 in total.index.levels[1]:
                print(lab1,lab2)
                # temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values': [1]})
                if [lab1,lab2] not in mu:
                    temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values' : [0]})
                else:
                    temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values' : [total1.xs((lab1, lab2)).values[0]]})
                woe_pre = pd.concat([woe_pre, temporary])
            #print(woe_pre)
        woe_pre.set_index(['x1','ifgood'], inplace=True)
        print(woe_pre)

        # 计算 WOE
        for i in range(0, var_class):   #var_class
            woe[i,0] = woe_pre.values[2 * i + 1]
            woe[i,1] = woe_pre.values[2 * i]
            woe[i,2] = woe[i,0] + woe[i,1]
            woe[i, 3] = woe_pre.values[2 * i + 1] / G  # pyi
            woe[i, 4] = woe_pre.values[2 * i] / B  # pni
            abb = lambda i:(math.log(woe[i, 3] / woe[i, 4])) if woe[i, 3] != 0 else 0 # 防止 ln 函数值域报错 
            woe[i, 5] = abb(i)
            woe[np.isinf(woe)] = 0  #将无穷大替换为0，参与计算 woe 计算

            woe[i, 6] = (woe[i, 3] - woe[i, 4]) * woe[i, 5]  # iv_part
            var_iv[k] += woe[i, 6]
        iv_signal = np.zeros((1,8))
        iv_signal[0,7] =var_iv[k]
        woe_all = np.r_[woe_all, woe,iv_signal]
        index_var = df.groupby([var_list[k]])[Y_flag].count()
        u = index_var.index.values.tolist()
        data_index += u
        data_index += [var_list[k]]
    woe_all = np.delete(woe_all,0,axis=0)
    result = pd.DataFrame(data = woe_all,columns=['good', 'bad', 'class_sum','pyi','pni','woe','iv_part','iv'])
    result.index = data_index
    
    result.to_csv("data.csv")
    return {print(result)}

path = 'modeldata.csv'
var_list = ['x1','x2','x3','x4','x5','x6']
Y_flag = 'ifgood'

print(compute_woe_iv(path,var_list,Y_flag))

In [ ]:
import numpy as np
import pandas as pd
import math

def compute_woe_iv(path,var_list,Y_flag):
    train_f = pd.read_csv("./data/train/feature.csv")
    train_l = pd.read_csv("./data/train/label.csv")
    df = pd.merge(train_f, train_l)
    var_num = len(var_list)
    totalG_B = df.groupby([Y_flag])[Y_flag].count()  # 计算正负样本多少个
    G = totalG_B[1]
    B = totalG_B[0]
    woe_all = np.zeros((1, 8))
    var_iv = np.zeros((var_num))
    data_index = []
    for k in range(0, var_num):
        var1 = df.groupby([var_list[k]])[Y_flag].count()  # 计算col每个分组中的组的个数
        var_class = var1.shape[0]
        woe = np.zeros((var_class, 8))
        woe_pre = pd.DataFrame(data={'x1': [], 'ifgood': [],'values' : []})
        total = df.groupby([var_list[k], Y_flag])[Y_flag].count()  # 计算该变量下每个分组响应个数
        total1 = pd.DataFrame({'total': total})
        mu = []
        for u,group in df.groupby([var_list[k], Y_flag])[Y_flag]:
            mu.append(list(u))
#         print(mu)
        for lab1 in total.index.levels[0]:
            for lab2 in total.index.levels[1]:
                print(lab1,lab2)
                # temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values': [1]})
                if [lab1,lab2] not in mu:
                    temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values' : [0]})
                else:
                    temporary = pd.DataFrame(data={'x1': [lab1], 'ifgood': [lab2], 'values' : [total1.xs((lab1, lab2)).values[0]]})
                woe_pre = pd.concat([woe_pre, temporary])
            #print(woe_pre)
        woe_pre.set_index(['x1','ifgood'], inplace=True)
#         print(woe_pre)

        # 计算 WOE
        for i in range(0, var_class):   #var_class
            woe[i,0] = woe_pre.values[2 * i + 1]
            woe[i,1] = woe_pre.values[2 * i]
            woe[i,2] = woe[i,0] + woe[i,1]
            woe[i, 3] = woe_pre.values[2 * i + 1] / G  # pyi
            woe[i, 4] = woe_pre.values[2 * i] / B  # pni
            abb = lambda i:(math.log(woe[i, 3] / woe[i, 4])) if woe[i, 3] != 0 else 0 # 防止 ln 函数值域报错 
            woe[i, 5] = abb(i)
            woe[np.isinf(woe)] = 0  #将无穷大替换为0，参与计算 woe 计算

            woe[i, 6] = (woe[i, 3] - woe[i, 4]) * woe[i, 5]  # iv_part
            var_iv[k] += woe[i, 6]
        iv_signal = np.zeros((1,8))
        iv_signal[0,7] =var_iv[k]
        woe_all = np.r_[woe_all, woe,iv_signal]
        index_var = df.groupby([var_list[k]])[Y_flag].count()
        u = index_var.index.values.tolist()
        data_index += u
        data_index += [var_list[k]]
    woe_all = np.delete(woe_all,0,axis=0)
    result = pd.DataFrame(data = woe_all,columns=['good', 'bad', 'class_sum','pyi','pni','woe','iv_part','iv'])
    result.index = data_index
    
    result.to_csv("data_out.csv")
    return result['woe']

path = 'modeldata.csv'
var_list = []
for i in range(10):
    for j in range(10):
        for k in range(10):
            var = 'v' + str(i) + str(j) + str(k)
            var_list.append(var)
Y_flag = 'DEFAULT_LABEL'

print(compute_woe_iv(path,var_list,Y_flag))